# Project
PROJECT_NAME=municipal-revenue-bigdata-analytics
ENVIRONMENT=local

# Spark
SPARK_APP_NAME=MunicipalRevenueLakehouse
SPARK_MASTER=local[*]

# Hive
HIVE_HOST=localhost
HIVE_PORT=10000
HIVE_DATABASE_BRONZE=bronze
HIVE_DATABASE_SILVER=silver
HIVE_DATABASE_GOLD=gold

# Ingestion
DEFAULT_MAX_ATTEMPTS=3
DEFAULT_TIMEOUT_SECONDS=60
DEFAULT_RETRY_WAIT_SECONDS=10

# Logging
LOG_LEVEL=INFO